.builder-main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: white !important;
    overflow: hidden;
}

.builder-main-container * {
    font-family: system-ui !important;
    font-size: 10px !important;
}

.builder-navbar,
.builder-navbar-top {
    width: 100%;
    display: flex;
}

.builder-navbar {
    justify-content: space-between;
    height: 30px;
}

.builder-navbar-top {
    padding: 0 10px;
    justify-content: space-between;
}

.builder-navbar-secondary {
    border-bottom: 1px solid rgba(229, 231, 235, 0.25);
}

.builder-navbar-cta,
.builder-navbar-actions-block {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.builder-navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.builder-navbar-cta {
    width: 210px;
    margin-right: 10px;
}

.builder-navbar-cta .builder-navbar-divider {
    margin: 0 !important;
}

.builder-navbar-actions-block {
    width: calc(100% - 200px);
    margin-left: 5px;
}

.builder-navbar-actions {
    display: flex;
}

.builder-navbar-zoom-active,
.builder-navbar-zoom-inactive {
    display: flex;
    align-items: center;
}

.builder-navbar-zoom-active div,
.builder-navbar-zoom-inactive div {
    width: 28px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
}

.builder-navbar-zoom-inactive {
    opacity: 0.5;
}

.builder-icon-btn {
    margin: 5px;
    width: 30px !important;
    height: 25px !important;
    min-height: min-content !important;
}

.builder-icon-btn svg {
    font-size: 14px !important;
}

.builder-sidebar-functions-item svg {
    font-size: 18px !important;
}

.builder-icon-btn svg path,
.builder-sidebar-functions-item svg path {
    fill: rgb(166, 173, 186);
}

.builder-icon-btn:hover svg path,
.builder-sidebar-functions-item:hover svg path {
    fill: rgb(29, 35, 42);
}

.builder-navbar-toggles {
    display: flex;
    align-items: center;
}

.builder-navbar-exit {
    width: 20px !important;
    height: 20px !important;
    margin-right: -10px;
    margin-top: -10px;
    min-height: min-content !important;
}

.builder-navbar-toggles input {
    font-size: 6px !important;
    margin-left: 5px;
    border-radius: 4px;
}

.builder-navbar-toggles label {
    padding: 5px;
    white-space: nowrap;
}

.builder-navbar-flatDisplay-toggles {
    display: flex;
}

.builder-navbar-flatDisplay-toggles label {
    white-space: nowrap;
}

.builder-navbar-switch {
    background-color: rgb(25, 30, 36);
    padding: 0 10px;
    margin: 0 15px;
    border-radius: 4px;
}

.builder-navbar-check {
    border-radius: 50% !important;
    transform: scale(0.8);
}

.builder-navbar-switch :global(.checkbox-primary:checked) {
    background-image: none;
    box-shadow: 0px 0px 5px 5px rgba(36, 221, 101, 0.1);
}

.builder-header-btn {
    width: fit-content;
    min-width: 85px;
    border-radius: 6px !important;
    white-space: nowrap;
}

.builder-navbar-container :global(.navbar) {
    min-height: 2rem !important;
}

.builder-header-navbar-secondary {
    min-height: 3rem;
}

.builder-sidebar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    height: calc(100% - 91px);
    width: 255px;
    background-color: rgb(39, 41, 53);
    align-items: center;
    overflow-y: auto;
}

.builder-body-container {
    width: calc(100% - 250px);
    display: flex;
    height: calc(100% - 91px);
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 35, 42);
    background-image: linear-gradient(rgba(150, 150, 150, 0.05) 2px, transparent 2px), linear-gradient(90deg, rgba(150, 150, 150, 0.05) 2px, transparent 2px),
        linear-gradient(rgba(150, 150, 150, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(150, 150, 150, 0.05) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.builder-body {
    border-radius: 6px;
    background-color: rgb(29, 35, 42);
    position: relative;
    display: flex;
    overflow: auto;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.builder-body {
    height: 85%;
    width: 85%;
    max-height: unset;
    max-width: unset;
}

.builder-map-grid {
    display: grid;
    column-gap: 8px;
    row-gap: 0px;
}

.builder-map-tile,
.builder-map-tile-active {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(31, 131, 178, 0.1) 0%, rgba(39, 52, 70) 100%);
    background-color: #334359;
    transition: 250ms all;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.builder-map-tile-active,
.builder-map-tile:hover,
.builder-map-tile-active:hover {
    background: linear-gradient(135deg, rgba(31, 131, 178, 0.5) 0%, rgb(39, 52, 70) 100%);
    background-color: #314a6e;
}

.builder-map-tile-hex {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.12);
}

.builder-map-tile-hex path {
    fill: transparent !important;
}

.builder-map-tile-hex path:hover,
.builder-map-tile-active .builder-map-tile-hex path {
    stroke: #019ae6 !important;
    stroke-width: 0.25px;
}

.builder-map-tile svg,
.builder-map-tile-active svg {
    font-size: 16px !important;
}

.builder-map-tile svg path,
.builder-map-tile-active svg path {
    fill: rgb(166, 173, 186);
}

.builder-map-tile-id {
    position: absolute;
    bottom: 2px;
    opacity: 0.35;
}

.builder-sidebar-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 90%;
}

.builder-sidebar-block-content,
.builder-sidebar-block-settings {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 15px;
    margin-top: 15px;
    grid-auto-flow: dense;
}

.builder-sidebar-block-settings {
    display: flex;
    flex-direction: column;
}

.builder-sidebar-block-settings div {
    display: flex;
}
.builder-sidebar-block-settings p {
    margin: 0 5px 0 5px;
}

.builder-sidebar-functions-item .btn span {
    margin-top: 0px !important;
}

.builder-sidebar-functions-item span {
    display: inline-block;
    line-height: 13px;
    text-align: center;
    margin-top: 5px;
    font-size: 10px !important;
}

.builder-map-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.builder-map-infos-title {
    font-size: 12px !important;
}

.builder-map-infos-item,
.builder-map-infos-item span {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.builder-map-infos-item span {
    flex-direction: row;
}
.builder-map-infos-item span .builder-navbar-toggles {
    padding-top: 0;
    padding-bottom: 0;
}

.builder-map-infos-item p {
    font-weight: 500;
}

.builder-map-infos-selected {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
}

.builder-map-infos-selected-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.builder-map-infos-selected-detail input {
    width: 100px;
    margin-right: 5px;
}

/* @media screen and (max-width: 600px) {
    .builder-navbar-left {
        width: 250px;
    }
} */
