.modal {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #808080;
  border-radius: 5px;
  overflow-y: hidden;
  z-index: 200;
}

.modal-header {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.modal-body {
  display: flex;
  position: absolute;
  top: 44px;
  bottom: 0px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.saved-game-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgrey;
  border: 2px solid #707070;
}

.saved-game-block:hover {
  border: 2px solid #606060;
}

.saved-game-item {
  cursor: pointer;
}

.saved-game-item p {
  margin: 0;
}
