.modal {
    position: absolute;
    width: 70%;
    /* height: 400px; */
    border-radius: 5px;
    overflow-y: hidden;
    background-color: #808080;
    border: 4px ridge rgba(199, 169, 126, 0.75);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85);
    z-index: 200;
}

.modal-header {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.modal-body {
    display: flex;
    position: absolute;
    top: 44px;
    bottom: 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.saved-game-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    background-color: #5f9ea0;
    /* border: 2px solid #707070; */
    filter: grayscale(0.75);
}

.saved-game-item {
    cursor: pointer;
    width: 95%;
    padding: 10px;
}

.saved-game-item p {
    margin: 0;
}

.new-game-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-game-input input {
    width: 60%;
}
