.menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items-container,
.ingame-menu-items-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.ingame-menu-items-container {
    background: url('/assets/background.png');
    background-size: cover;
}

.menu-item {
    width: 60%;
    max-width: 550px;
    padding: 20px;
    margin: 15px;
    background-color: #5f9ea0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 4px ridge rgba(199, 169, 126, 0.75);
    transition: 350ms all;
    letter-spacing: 2px;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85), inset -1px 3px 8px 5px #1fdaff, inset 0px 0px 15px 10px rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85), inset -1px 3px 8px 5px #1fdaff, inset 0px 0px 15px 10px rgba(255, 255, 255, 0);
}

.menu-item:not(:hover) {
    background-color: rgba(95, 158, 160, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 4px ridge rgba(199, 169, 126, 0.25);
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85), inset -1px 3px 8px 5px rgba(31, 218, 255, 0.5), inset 0px 0px 15px 10px rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.85), inset -1px 3px 8px 5px rgba(31, 218, 255, 0.5), inset 0px 0px 15px 10px rgba(255, 255, 255, 0);
}

.saved-game-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5f9ea0;
    /* border: 2px solid #707070; */
    filter: grayscale(0.75);
}

.saved-game-item {
    cursor: pointer;
    width: 95%;
}

.saved-game-item p {
    margin: 0;
}

.new-game-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-game-input input {
    width: 60%;
}

/* Settings */

.settings-block {
    display: flex;
    width: 90%;
    height: 550px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.settings-item {
    position: relative;
    display: flex;
    margin: 5px 0px 5px 0px;
    align-items: center;
}

.settings-item-header {
    margin-right: 10px;
}

.settings-ln-selector {
    outline: none;
    width: 100px;
    height: 20px;
}
