.menu-items-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item {
  width: 150px;
  padding: 10px;
  margin: 10px;
  background-color: #0f0f0f98;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}

.main-menu-modal {
  width: 70%;
  height: 70%;
  background-color: #808080;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 2;
}
