.dashboard-main-container * {
    -webkit-touch-callout: initial !important;
    -webkit-user-select: initial !important;
    -khtml-user-select: initial !important;
    -moz-user-select: initial !important;
    -ms-user-select: initial !important;
    user-select: initial !important;
}

.dashboard-main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: rgb(33, 39, 42) !important;
    overflow: hidden;
}

.dashboard-main-container * {
    font-family: system-ui !important;
    font-size: 10px !important;
}

.dashboard-model-block {
    position: absolute;
    width: calc(100% - 225px);
    height: calc(100% - 135px);
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}
