.select-multi-container,
.select-multi-buttons,
.select-multi-icon {
    width: 350px;
    background-color: transparent;
    margin: 0 15px;
    z-index: 2000;
}

.select-multi-buttons {
    width: 175px;
    z-index: 1000;
}

.select-multi-icon {
    width: unset;
    margin: 0 !important;
}

.select-multi-icon .select-multi-content {
    margin-top: 7px;
    right: 0;
    padding-top: 5px;
    width: 250px;
}

.select-content {
    position: static !important;
    width: 100% !important;
}

.select-multi-icon .select-multi-content button {
    margin: 5px 0;
}

.selector-select-btn {
    position: relative;
    z-index: 100;
}

.select-multi-label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.select-multi-toggle {
    display: flex;
    align-items: center;
}

.select-multi-delete {
    margin-left: 5px;
}

.select-multi-delete[datatype='disabled'] {
    opacity: 0.2;
    pointer-events: none;
}

.select-multi-chevron {
    font-size: 10px !important;
    transform: scaleX(1.75);
}

.select-multi-placeholder {
    opacity: 0.5;
}

.select-multi-searchbar {
    margin-bottom: 5px;
}

.select-multi-content,
.select-content {
    position: fixed;
    width: inherit;
    display: flex;
    flex-direction: column;
    max-height: 320px;
    padding: 15px 10px 10px 10px;
    margin-top: -5px;
    background-color: rgb(39, 41, 53);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    /* filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25)); */
    overflow-y: auto;
}

.select-multi-btn .select-multi-chevron {
    transform: scaleX(1.25) scaleY(0.8);
}

.select-multi-group {
    padding-top: 5px;
}

.select-multi-group-content {
    background-color: rgba(29, 35, 42, 0.5);
    border-radius: 4px;
    padding: 2px 0;
}

.select-multi-group {
    margin: 2px 0;
}

.select-multi-group .select-multi-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px !important;
    line-height: 8px !important;
    border-radius: 8px;
    cursor: pointer;
}

.select-multi-group span:hover,
.select-content span:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.select-multi-group-item {
    margin-left: 15px;
    cursor: pointer;
}

.select-item {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: 250ms all;
}

.select-item:hover {
    background-color: rgba(46, 51, 57, 0.5);
}

@media screen and (max-width: 750px) {
    .select-multi-container {
        width: 250px;
    }
}
@media screen and (max-width: 650px) {
    .select-multi-container {
        width: 150px;
    }
}
