.dashboard-sidebar {
    position: fixed;
    width: 225px;
    height: 100%;
    background-color: rgb(47, 54, 61);
}

.dashboard-sidebar-logo {
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 12px 12px 15px 12px;
}

.dashboard-sidebar-logo div {
    position: relative;
    font-size: 30px !important;
    font-style: italic;
    margin-left: 15px;
    bottom: 5px;
}

.dashboard-sidebar-logo img {
    width: 55px;
    cursor: pointer;
}

.dashboard-sidebar-item {
    padding: 0 15px 15px 15px;
}

.dashboard-sidebar-item-idle:hover {
    background-color: initial !important;
    color: inherit !important;
}

.dashboard-navbar-block {
    position: absolute;
    width: calc(100% - 225px);
    height: 135px;
    right: 0px;
}

.dashboard-navbar {
    height: 85px;
    background-color: rgb(33, 39, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-navbar-actions,
.dashboard-navbar-title {
    display: flex;
    align-items: center;
}

.dashboard-navbar-title {
    padding: 10px;
}

.dashboard-navbar-title:first-of-type span {
    font-size: 26px !important;
    margin-left: 15px;
    font-style: italic;
}

.dashboard-navtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(45, 51, 58);
}

.dashboard-navbar-actions {
    justify-content: flex-end;
    width: 80%;
    max-width: 800px !important;
    margin: 0 15px;
}

.dashboard-searchbar {
    width: -webkit-fill-available;
    border: inherit !important;
    background-color: rgb(45, 51, 58) !important;
}

.dashboard-searchbar:disabled {
    background-color: rgb(25, 30, 36) !important;
}

.dashboard-navbar-exit {
    margin: 15px 0px 15px 15px;
}

.dashboard-navbar-create:not(:disabled) {
    margin: 15px 0px 15px 15px;
    color: #fff !important;
}

.dashboard-navbar-create:not(:hover, :disabled),
.dashboard-navbar-create:not(:hover, :disabled) svg {
    color: #65cc8a !important;
    fill: #65cc8a !important;
}

.dashboard-model-toggle {
    margin-top: 5px;
}

.dashboard-actions-block-btns :global(.btn) {
    border-radius: 6px !important;
}

.dashboard-actions-btn {
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .dashboard-navbar-create-label {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .dashboard-navbar {
        justify-content: flex-end;
    }
    .dashboard-navbar-actions {
        width: 100%;
        max-width: none !important;
    }
    .dashboard-navbar-title {
        display: none;
    }
}
