.npc-modal-container {
    height: -webkit-fill-available;
    overflow-y: auto;
}

.npc-block button {
    border-radius: 4px;
    margin: 5px 0;
}

.npc-stats-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 65px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.npc-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
}

.npc-stat input {
    width: 65px;
}

.npc-parameters-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 10px 0px 10px;
}

.npc-base-block div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.npc-base-block div label {
    padding-left: 0;
}

.npc-parameters-block label {
    width: 75px;
}

.npc-parameters-block label span,
.npc-base-block label span,
.npc-parameters-block p {
    font-size: 11px !important;
}

.npc-inventory-option p {
    font-size: 12px !important;
    margin-bottom: -5px;
}

.npc-selected-item,
.npc-inventory-item {
    margin: 10px;
}

.npc-inventory-item button {
    height: 50px;
}

.npc-quest-label {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.npc-inventory-label {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.npc-inventory-stats {
    font-size: 9px !important;
}
