.dashboard-model-table {
    padding: 25px;
}

.dashboard-model-table :global(.table) {
    filter: contrast(0.9) brightness(1.1);
    border-radius: 8px !important;
}

.dashboard-model-table :global(.table :where(thead)) {
    height: 35px !important;
}

.dashboard-model-actions {
    background-color: transparent !important;
}

.dashboard-model-actions ul {
    width: 150px;
    right: 0;
    z-index: 10;
    border-radius: 8px;
    background-color: rgb(45, 51, 58) !important;
}

.dashboard-model-actions ul li a {
    font-size: 11px !important;
}

.dashboard-model-actions:first-of-type button {
    height: 25px !important;
    width: 16px;
    min-height: min-content;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.dashboard-model-actions-edit:hover,
.dashboard-model-actions-export:hover {
    color: rgb(128, 202, 144) !important;
}

.dashboard-model-actions-delete:hover {
    color: crimson !important;
    background-color: unset !important;
}
