.map-preview-cta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.map-preview-cta-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.map-preview-cta-btns > * {
    margin-left: 10px;
    margin-right: 0px;
}

.map-preview-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-bottom: 10px;
}

/* .map-preview-settings-block {
    width: 50%;
} */

.map-preview-cta-content {
    position: absolute;
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    max-height: 320px;
    padding: 15px 10px 10px 10px;
    /* margin-top: 80px; */
    background-color: rgb(39, 41, 53);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
    overflow-y: auto;
    z-index: 101;
}

.map-preview-cta-content span:hover {
    filter: brightness(1.25);
}

.map-preview-cta-content-item {
    margin-left: 15px;
    cursor: pointer;
}

.map-preview-block,
.map-preview-block-inactive {
    display: grid;
    height: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 125px);
}

.map-preview-block-inactive {
    opacity: 0.5;
    pointer-events: none;
}

.map-preview-item {
    height: 115px;
    width: 100px;
    text-align: center;
}

.map-preview-actions {
    position: absolute;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0px;
}

.map-preview-actions :global(.btn-sm) {
    display: flex;
    justify-content: center;
    background-color: rgba(39, 41, 53, 0.5);
}

.map-preview-content,
.map-preview-selected {
    position: relative;
    border-radius: 6px;
    background-color: #272935;
    overflow: hidden;
    transition: 250ms all;
    opacity: 0.8;
    cursor: pointer;
}

.map-preview-selected {
    opacity: 1;
}

.map-selected-preview {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    background-color: darkkhaki;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.map-preview-selected:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 6px;
    box-shadow: inset 0px 0px 0px 1.5px #019ae6;
}

.map-preview-loading {
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
    background-color: #272935;
}

.map-preview-content:hover {
    filter: brightness(1.2);
    opacity: 1;
}
