.collections-modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.collection-item {
    margin: 10px 0;
}

.collection-content-inactive,
.collection-content-active {
    display: flex;
    justify-content: center;
    padding: 15px 10px 10px 10px;
    margin-top: -5px;
    background-color: rgb(39, 41, 53);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
    box-shadow: none;
    overflow-y: auto;
}

.collection-content-inactive canvas:hover,
.collection-content-active canvas:hover {
    filter: brightness(1.2);
}

.collection-content-inactive canvas,
.collection-content-active canvas {
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms all;
}

.collection-content-active canvas {
    box-shadow: 0px 0px 0px 2px #019ae6;
}
