.quicksettings-toggle {
    position: absolute;
    top: 19px;
    right: 15px;
    z-index: 1000;
    opacity: 0.25;
    transition: 250ms all;
}

.quicksettings-toggle:hover {
    opacity: 0.75 !important;
}

.quicksettings-container * {
    font-family: system-ui !important;
}

.quicksettings-container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    padding: 10px;
    z-index: 1500;
    filter: grayscale(0.5);
    transition: 500ms all;
}

.quicksettings-body {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(39, 41, 53);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.quicksettings-body-header {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    height: 35px;
    font-size: 15px !important;
    margin-bottom: 10px;
    background-color: rgb(43, 52, 64);
    border-bottom: 1px solid rgba(229, 231, 235, 0.25);
}

.quicksettings-body-header span {
    display: flex;
    width: -webkit-fit-content;
    padding-left: 5px;
    z-index: 1200;
    opacity: 0.75;
}

.quicksettings-body-header span svg path {
    stroke: white !important;
}

.quicksettings-body-header div {
    position: absolute;
    display: flex;
    width: 100%;
    left: 5px;
    justify-content: center;
}

.quicksettings-content {
    height: calc(100% - 45px);
    max-height: 425px;
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.quicksettings-block,
.quicksettings-block button {
    margin-bottom: 5px;
}

.quicksettings-label {
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.quicksettings-item {
    font-size: 12px;
    margin-left: 5px;
}

.quicksettings-toggles {
    display: flex;
    align-items: center;
}

.quicksettings-toggles input {
    font-size: 6px;
    margin-left: 5px;
    border-radius: 4px;
}

.quicksettings-block :global(.label) {
    padding: 5px;
    max-height: 30px;
}

.quicksettings-block :global(.label-text) {
    font-size: 12px !important;
}
